<div class="jumbotron" >
    <b>Account:</b><br><br>
    <p> -----> Pratiche Completate</p><br>
    <p> -----> Pratiche in sospeso (da completare)</p>
</div>
<div class="row">
  <!-- Tab item list -->
  <app-account-list>Loading item list...</app-account-list>
  <!-- Progressive bar -->
  <div class="col col-sm-8 col-lg-8 col-md-8">
    <app-fin-completi *ngIf="isSelected(tabs.tabAccount[0].id)"></app-fin-completi>
    <app-fin-incompleti *ngIf="isSelected(tabs.tabAccount[1].id)"></app-fin-incompleti>
  </div>
</div>
