<div class="jumbotron">
  <form [formGroup]="datiPersonaliForm" (ngSubmit)="salvaDatiPersonali()">
    <legend>Dati anagrafici</legend>
    <div class="form-group nome-cognome-inline">
      <label for="nome">Nome richiedente</label>
      <input type="text" class="form-control" formControlName="nome" name="nome" id="nome" placeholder="Nome">
    </div>
    <div class="form-group nome-cognome-inline">
      <label for="cognome">Cognome richiedente</label>
      <input type="text" class="form-control" formControlName="cognome" name="cognome" id="cognome" placeholder="Cognome">
    </div>
    <div class="form-group sesso-inline">
      <label for="sesso">Sesso:</label>
      <select class="form-control" formControlName="sesso" name="sesso" id="sesso">
        <option>M</option>
        <option>F</option>
      </select>
    </div>
    <div class="form-group prov-inline">
      <label for="provNascita">Provincia di nascita</label>
      <input type="text" class="form-control" formControlName="provNascita" name="provNascita" id="provNascita" maxlength="2" minlength="2" placeholder="Provincia">
    </div>
    <div class="form-group citta-inline">
      <label for="cittaNascita">Città di nascita</label>
      <input type="text" class="form-control" formControlName="cittaNascita" name="cittaNascita" id="cittaNascita" placeholder="Città">
    </div>
    <div class="form-group email-inline">
      <label for="emailRichiedente">Email richiedente</label>
      <input type="text" class="form-control" formControlName="emailRichiedente" name="emailRichiedente" id="emailRichiedente" placeholder="Email">
      <br>
    </div>
    <div class="form-group nascita-inline">
      <label for="dataNascita">Data di nascita</label>
      <input type="date" class="form-control" formControlName="dataNascita" name="dataNascita" id="dataNascita">
      <small id="nascitaHelp" class="form-text text-muted">Formato gg/mm/aaaa</small>
    </div>
    <div class="form-group">
      <label for="codFisc">Codice fiscale</label>
      <input type="text" class="form-control" formControlName="codFisc" name="codFisc" id="codFisc" minlength="16" maxlength="16" placeholder="Inserisci codice fiscale">
      <button id="calcolaCF" class="btn btn-primary">Calcola codice fiscale</button>
      <!--
      http://webservices.dotnethell.it/codicefiscale.asmx/
      CalcolaCodiceFiscale?Nome=Andrea&Cognome=Bonanzinga&ComuneNascita=Catania&DataNascita=27/09/1993&Sesso=M
      -->
    </div>
    <br>
    <legend>Dati personali</legend>
    <div class="form-group">
      <label for="indirizzoResidenza">Indirizzo di residenza</label>
      <input type="text" class="form-control" formControlName="indirizzoResidenza" name="indirizzoResidenza" id="indirizzoResidenza" placeholder="Indirizzo">
    </div>
    <div class="form-group prov-inline">
      <label for="provResidenza">Provincia</label>
      <input type="text" class="form-control" formControlName="provResidenza" name="provResidenza" id="provResidenza" maxlength="2" minlength="2" aria-describedby="provinciaHelp" placeholder="Provincia">
    </div>
    <div class="form-group citta-inline">
      <label for="cittaResidenza">Città</label>
      <input type="text" class="form-control" formControlName="cittaResidenza" name="cittaResidenza" id="cittaResidenza" placeholder="Città">
    </div>
    <div class="form-group">
      <label for="telefono">Recapito telefonico</label>
      <input type="text" class="form-control" formControlName="telefono" name="telefono" id="telefono" maxlength="15" placeholder="Telefono">
    </div>
    <br>
    <legend>Privacy</legend>
    <p>Acconsenti al trattamento dei dati personali ai sensi del DL 192/168 ex 345/2bis del 1997?</p>
    <fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Si
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          No
        </label>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
