<div class="jumbotron">
  <p>Title go here</p>
</div>
<div class="row">
  <!-- Tab item list -->
  <div class="col col-sm-4 col col-lg-4 col-md-4 ">
    <div class="list-group">
      <a *ngFor="let tab of tabs.tabList" routerLink="tab.path" class="list-group-item">{{tab.title}}</a>
    </div>
  </div>
  <!-- Progressive bar -->
  <div class="col col-sm-8 col-lg-8 col-md-8">
    <div class="progress">
      <div class="progress-bar" *ngFor="let tab of tabs.tabList" [style.width]="tab.width">
        <span>{{tab.title}}</span>
      </div>
    </div>
    <!-- Pratiche form -->
    <div class="jumbotron">
      <form>
        <div class="form-group">
          <label for="first-name">Nome richiedente</label>
          <input type="text" class="form-control" id="first-name" aria-describedby="first-nameHelp" placeholder="Nome">
          <small id="first-nameHelp" class="form-text text-muted">Inserire il nome del richiedente del finanziamento</small>
        </div>
        <div class="form-group">
          <label for="last-name">Cognome richiedente</label>
          <input type="text" class="form-control" id="last-name" aria-describedby="last-nameHelp" placeholder="Cognome">
          <small id="last-nameHelp" class="form-text text-muted">Inserire il cognome del richiedente del finanziamento</small>
        </div>
        <div class="form-group">
          <label for="codice-fiscale">Codice fiscale</label>
          <input type="text" class="form-control" id="codice-fiscale" aria-describedby="cod-fisclHelp" placeholder="Inserisci codice fiscale">
          <small id="cod-fiscHelp" class="form-text text-muted">Inserire il proprio codice fiscale.</small>
        </div>

        <div class="form-group">
          <label for="provincia">Provincia di nascita</label>
          <input type="text" class="form-control" id="provincia" aria-describedby="provinciaHelp" placeholder="Provincia">
          <small id="provinciaHelp" class="form-text text-muted">Inserisci provincia di nascita</small>
        </div>
        <div class="form-group">
          <label for="citta">Città di nascita</label>
          <input type="text" class="form-control" id="citta" aria-describedby="cittaHelp" placeholder="Città">
          <small id="cittaHelp" class="form-text text-muted">Inserisci città di nascita</small>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Example textarea</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <fieldset class="form-group">
          <legend>Radio buttons</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
              Option one is this and that&mdash;be sure to include why it's great
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Option two can be something else and selecting it will deselect option one
            </label>
          </div>
          <div class="form-check disabled">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
              Option three is disabled
            </label>
          </div>
        </fieldset>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Check me out
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
