<div class="jumbotron">
  <p>
    <b>Compila il form per presentare la richiesta di finanziamento</b>
  </p>
</div>
<div class="row">
  <!-- Tab item list -->
  <app-item-list>Loading item list...</app-item-list>
  <!-- Progressive bar -->
  <div class="col col-sm-8 col-lg-8 col-md-8">
    <div class="progress">
      <div class="progress-bar" *ngFor="let tab of tabs.tabList" [style.width]="tab.width">
        <span>{{tab.title}}</span>
      </div>
    </div>
    <!-- Pratiche form -->
    <app-dati-personali
          *ngIf="isSelected(tabs.tabList[0].id)"
          [dati]="datiPersonali"
    ></app-dati-personali>

    <app-dati-organizzazione
      *ngIf="isSelected(tabs.tabList[1].id)"
      [dati]="datiOrganizzazione"
    ></app-dati-organizzazione>

    <app-dati-pratica
      *ngIf="isSelected(tabs.tabList[2].id)"
      [dati]="datiPratica"
    ></app-dati-pratica>

    <app-documentazione *ngIf="isSelected(tabs.tabList[3].id)"></app-documentazione>

    <app-conferma *ngIf="isSelected(tabs.tabList[4].id)"></app-conferma>
  </div>
</div>
