<div class="jumbotron">
  <p>Title go here</p>
</div>
<div class="row">
  <!-- Tab item list -->
  <app-item-list>Loading item list...</app-item-list>
  <!-- Progressive bar -->
  <div class="col col-sm-8 col-lg-8 col-md-8">
    <!--div class="progress">
      <div class="progress-bar" *ngFor="let tab of tabs.tabList" [style.width]="tab.width">
        <span>{{tab.title}}</span>
      </div>
    </div-->
    <!-- Pratiche form -->
    <app-dati-personali *ngIf="isSelected(tabs.tabList[0].id)"></app-dati-personali>
    <app-dati-organizzazione *ngIf="isSelected(tabs.tabList[1].id)"></app-dati-organizzazione>
  </div>
</div>
