<div class="jumbotron">
  <form [formGroup]="organizzazioneForm" (ngSubmit)="editOrganizzazione()" novalidate>
    <legend>Dati organizzazione</legend>
    <div class="form-group denominazione-inline">
      <label for="denominazione">Denominazione sociale</label>
      <input type="text" class="form-control" [(ngModel)]="dati.denominazione" formControlName="denominazione" name="denominazione" id="denominazione" placeholder="Azienda">
    </div>
    <div class="form-group ragione-inline">
      <label for="ragioneSociale">Ragione sociale</label>
      <select class="form-control" [(ngModel)]="dati.ragioneSociale" formControlName="ragioneSociale" name="ragioneSociale" id="ragioneSociale">
        <optgroup label="Società di persone">
          <option value="S.a.s">S.a.s.</option>
          <option value="S.S">S.S.</option>
          <option value="S.n.c">S.n.c.</option>
        </optgroup>
        <optgroup label="Società di capitali">
          <option value="S.r.l">S.r.l.</option>
          <option value="S.r.l.s">S.r.l.s.</option>
          <option value="S.r.l.u">S.r.l.u.</option>
          <option value="S.p.a">S.p.a.</option>
          <option value="S.a.p.a">S.a.p.a.</option>
        </optgroup>
      </select>
    </div>
    <div class="form-group piva-inline">
      <label for="piva">Partita IVA</label>
      <input type="text" class="form-control" [(ngModel)]="dati.piva" formControlName="piva" name="piva" id="piva" maxlength="11" minlength="11" placeholder="IVA">
    </div>
    <div class="form-group capitale-inline">
      <label for="cap">Capitale</label>
      <input type="text" class="form-control" [(ngModel)]="dati.cap" formControlName="cap" name="cap" id="cap" maxlength="12" placeholder="Capitale">
    </div>
    <div class="form-group">
      <label for="email">Email aziendale</label>
      <input type="email" class="form-control" [(ngModel)]="dati.email" formControlName="email" name="email" id="email" placeholder="Email">
    </div>
    <br>
    <!-- Sede legale -->
    <legend>Sede legale</legend>
    <div class="form-group stato-inline">
      <label for="stato">Stato</label>
      <input type="text" class="form-control" [(ngModel)]="dati.stato" formControlName="stato" name="stato" id="stato" placeholder="Stato">
    </div>
    <div class="form-group citta-inline">
      <label for="citta">Citta</label>
      <input type="text" class="form-control" [(ngModel)]="dati.citta" formControlName="citta" name="citta" id="citta" placeholder="Citta">
    </div>
    <div class="form-group prov-inline">
      <label for="provincia">Provincia</label>
      <input type="text" class="form-control" [(ngModel)]="dati.provincia" formControlName="provincia" name="provincia" id="provincia" placeholder="Provincia">
    </div>
    <div class="form-group indirizzo-inline">
      <label for="indirizzo">Indirizzo</label>
      <input type="text" class="form-control" [(ngModel)]="dati.indirizzo" formControlName="indirizzo" name="indirizzo" id="indirizzo" placeholder="Indirizzo">
    </div>
    <br>
    <legend>Privacy</legend>
    <p>Acconsenti al trattamento dei dati personali ai sensi del DL 192/168 ex 345/2bis del 1997?</p>
    <fieldset class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Si
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
          No
        </label>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
