<!--
************** CARD COMPONENT: contiene le varie tipologie di 'finanziamenti' ***************
-->

<div class="card card-green col-md-12 width-card">
  <p class="card-question">{{servizio.name}}</p>
  <div class="card-separator"></div>
  <p style="text-align:justify;">
      The oldest verified person on record was French woman
      <b>Jeanne Calment</b>
      (1875–1997), who lived to the age of
      <b>122 years, 164 days.</b>
  </p>
  <a href="#">Richiedi Finanziamento</a>
  <div class="card-separator"></div>
</div>
