<div class="jumbotron">
  <legend>Scarica la documentazione relativa ai tuoi finanziamneti completi</legend>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Tipo</th>
        <th>Richiedente</th>
        <th>Cognome</th>
        <th>Username</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Marco</td>
        <td>Rossi</td>
        <td>marcoR</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Paolo</td>
        <td>Bianchi</td>
        <td>paoloB</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Sandro</td>
        <td>Verdi</td>
        <td>sandroV</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
